* {
    font-family: sans-serif;
    color: #2A75B3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    width: 80%;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px black;
}

table td,
table th {
    padding: 5px;
    border: 1px solid black;
}

table th {
    color: white;
    background-color: #B3915D;
}

table tr:nth-child(2n) {
    background-color: #FAF0E1;
}

button {
    margin-left: 40px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background: #B3915D;
    box-shadow: 3px 3px 3px 3px black;
}

button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

button:hover {
    border: 3px solid #2A75B3;
}

header {
    background-color: #D9EDFC;
}

.logo {
    margin-left: 40px;
    font-family: fantasy;
    font-style: italic;
    font-size: 50px;
    color: #2A75B3;
}

footer {
    padding: 10px;
    color: #2A75B3;
    background-color: #D9EDFC;
    text-align: end;
}

h1 {
    text-align: center;
}

table tr:hover {
    background-color: #B3915D;
}

td:nth-child(5) {
    margin: 0px;
    padding: 0px;
}

input[type="date"] {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 1.4em;
}